.chatBody::-webkit-scrollbar {
  width: 8px;
}

.chatBody::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.chatBody::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.chatBody::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.typingIndicator span {
  animation: pulse 1.4s infinite ease-in-out;
  display: inline-block;
  margin: 0 1px;
  opacity: 0.2;
}

.typingIndicator span:nth-child(1) {
  animation-delay: 0s;
}

.typingIndicator span:nth-child(2) {
  animation-delay: 0.2s;
}

.typingIndicator span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(0.8);
    opacity: 0.2;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
}

.chatContainerShadow {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.08);
}
