$color-primary: #5646ff;
$color-secondary: #efeff5;
$color-black: #121212;
$color-gray: #909090;
$color-success: #00c07e;
$color-danger: #fc5661;
$color-white: #ffffff;

$text-primary: $color-primary;
$text-secondary: $color-gray;
$text-basic: $color-black;
$text-white: $color-white;
$text-error: $color-danger;
$text-disable: $color-black;

// Backgrounds
$bg-primary: $color-primary;
$bg-secondary: $color-secondary;

$color-text-active: #5646ff;
